.nav-right{
    display:flex;
    align-items:center;
    gap:10px;
}

.nav-search{
    padding:10px;
    border-radius:20px;
    border:none;
    background:#151b2e;
    color:white;
    width:150px;
}

.language{
    padding:10px;
    border-radius:20px;
    border:none;
    background:#151b2e;
    color:white;
}

.login-btn{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:#00eaff;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

.login-btn:hover{
    box-shadow:0 0 15px #00eaff;
}
