*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{

background:#050505;
color:white;

}



header{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;

background:#090909;

border-bottom:1px solid #333;

}


.logo{

font-size:30px;
font-weight:bold;
color:#00ff99;

}



nav a{

color:white;
text-decoration:none;
margin:0 12px;

}



nav a:hover{

color:#00ff99;

}



.hero{

height:450px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

background:
linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.8)),
url("https://images.unsplash.com/photo-1552820728-8b83bb6b773f");

background-size:cover;
background-position:center;

}



.hero h1{

font-size:55px;

}



.hero p{

font-size:22px;
margin:15px;

color:#ccc;

}



.hero input{

width:350px;
padding:15px;

border-radius:30px;
border:none;

}



.categories,
.games{

padding:50px;
text-align:center;

}



.category{

display:inline-block;

background:#111;

padding:20px 35px;

margin:10px;

border-radius:30px;

color:#00ff99;

}



.card{

display:inline-block;

width:300px;

background:#111;

margin:20px;

padding:15px;

border-radius:20px;

overflow:hidden;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

box-shadow:0 0 25px #00ff99;

}



.card img{

width:100%;
height:170px;

object-fit:cover;

border-radius:15px;

}



.card h3{

margin:15px;

}



.card p{

color:#aaa;

}



button{

margin:15px;

padding:12px 30px;

border:none;

border-radius:30px;

background:#00ff99;

font-weight:bold;

cursor:pointer;

}



button:hover{

background:white;

}



footer{

text-align:center;

padding:25px;

background:#090909;

}
